<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leontheprofessional.todolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/todolist_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ToDoListDisplayActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ToDoItemDetailsActivity" />
        <activity
            android:name=".activity.ToDoListPreferenceActivity"
            android:label="ToDoList User Preference">
            <intent-filter>
                <action android:name="com.leontheprofessional.todolist.ACTION_USER_PREFERENCE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ToDoListProvider"
            android:authorities="com.leontheprofessional.todolist.ToDoListProvider" />
    </application>

</manifest>
